contourpy==1.2.0
cvxopt==1.3.2
cycler==0.12.1
-e git+https://github.com/nobuyuki83/pydel-ls.git@88928318164a5e70c96747127adb85154e8e2d88#egg=del_ls
-e git+https://github.com/nobuyuki83/pydel-msh.git@17f9c11e3edce6f58fc0c3c6f58346dcf95f7628#egg=del_msh
fonttools==4.45.0
glcontext==2.5.0
kiwisolver==1.4.5
matplotlib==3.8.2
moderngl==5.8.2
multipledispatch==1.0.0
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyrr==0.10.3
python-dateutil==2.8.2
six==1.16.0
-e git+https://github.com/nobuyuki83/pyutil_moderngl_qt.git@08d52a5fa39b2b5d716d445e434b9250dc29ac4a#egg=util_moderngl_qt
